@import "tailwindcss";

/* Plugins */
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

/* Class based dark mode */
@custom-variant dark (&:where(.dark, .dark *));


@font-face {
  font-family: 'Poppins ';
  src: local('Poppins'), url(./assets/fonts/Poppins/Poppins-Regular.ttf) format('truetype');
}

*{
  font-family: 'Poppins';
}